.primary_nav {
  position:fixed; top:0; bottom:0; left:0; width:100%; height:100%;
  opacity: 0.95; z-index:11;
  overflow-y:scroll; -webkit-overflow-scrolling:touch;
  transition:transform 1s cubic-bezier(.42,0,1,18);
  transform:translate3d(0, -100%, 0);
  transition: all 0.2s ease-in-out;
}

.primary_nav_is_active {
  position:fixed; top:0; bottom:0; left:0; width:100%; height:100%;
  opacity: 0.95; z-index:11;
  overflow-y:scroll; -webkit-overflow-scrolling:touch;
  transition:transform 0.35s cubic-bezier(.05,1.04,.72,.98);
  transform:translate3d(0, 0, 0);
  transition: all 0.2s ease-in-out;
}

.primary_nav_item {
  display: inline-block; position: relative;
  opacity: 0; font-size: 4em; cursor: pointer;
  letter-spacing: 0.1em;
  text-rendering: optimizeLegibility;
  transition: all 0.2s ease-in-out;
}

.primary_nav_item_active {
  display: inline-block; position: relative;
  font-size:4em; cursor:pointer; letter-spacing:0.1em; opacity:1 !important;
  text-rendering:optimizeLegibility;
  transition: all 0.2s ease-in-out;
}

.primary_nav_wrapper {
  display:table;
  width:100%; height:100%;
}

.primary_nav_list {
  display:table-cell;
  width:100%; padding:0;
  vertical-align:middle;
}

li {
  margin: 0; padding:0; height: 6em;
  list-style:none; text-align:center; opacity:1
}

a {
  transition: all 0.2s ease-in-out;
}

a::before {
  position: absolute; width: 100%; height: 0.08em; margin-top: 1.1em; left: 0;
  background-color: #FFF; visibility: hidden;
  content: "";
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .primary_nav {
    background-color:white;
  }

  .primary_nav_list {
    padding-top:45px;
  }

  .primary_nav_item {
    font-size:2.5em;
  }

  .primary_nav_item_active {
    font-size:2.5em;
  }

  .primary_nav_item_active:hover {
    font-size:3em;
  }
}

@media only screen and (max-width: 480px) {
  .primary_nav_item {
    font-size:2em;
  }

  .primary_nav_item_active {
    font-size:2em;
  }

  .primary_nav_item_active:hover {
    font-size:2.5em;
  }
}
